.divInfoStyle {
  margin: 10px;
  padding: 0px;
  height: 30px;
  max-width: 140px;
  min-height: 58px;
  contain: content;
  flex-grow: 1;
}

.name {
  margin: 0;
  padding: 0;
  width: 120px;
  font-size: 16px;
  font-weight: 500;
  color: #f74444bb;
  text-align: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

.info {
  margin: 0;
  font-size: 16px;
  color: rgba(235, 238, 234, 0.952);
  text-align: inherit;
  display: block;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}
